<header class="navbar navbar-expand-lg navbar-light bg-light feedcf-bg">
  <div class="container">
    <!-- Логотип / название сайта -->
    {{ $image := resources.Get "images/logo.png" }}
        <a class="navbar-brand" href="{{ .Site.BaseURL }}"> <img src="{{ $image.RelPermalink }}" alt="{{ .Site.Title }}" style="max-width:150px"></a>

    <!-- Кнопка для мобильного меню -->
    <button class="navbar-toggler" type="obutton" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Навигационное меню -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        {{ range .Site.Menus.main }}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}

        {{ if eq .Site.Params.mode "toggle" }}
        <li class="nav-item">
          <a class="nav-link" id="dark-mode-toggle" href="#" onclick="toggleTheme(); return false;"></a>
        </li>
        <script src="{{ .Site.BaseURL }}js/themetoggle.js"></script>
        {{ end }}
      </ul>
    </div>
  </div>
</header>
